doctype html
html
  head
    title A Brief History of Time
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='/all_books') Books
        li
          a(href='/all_patrons') Patrons
        li
          a(href='/all_loans') Loans
    h1 Book: A Brief History of Time
    form
      p
        label(for='title') Title
        input#title(value=`${book[0].dataValues.title}`, type='text')
      p
        label(for='author') Author
        input#author(value=`${book[0].dataValues.author}`, type='text')
      p
        label(for='genre') Genre
        input#genre(value=`${book[0].dataValues.genre}`, type='text')
      p
        label(for='first_published') First Published
        input#first_published(value=`${book[0].dataValues.first_published}`, type='text')
      p
        input(value='Update', type='submit')
    h2 Loan History
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
        tr
          td
            a(href='book_detail.html') A Brief History of Time
          td
            a(href='patron_detail.html') Andrew Chalkley
          td 2015-12-12
          td 2015-12-19
          td
          td
            a.button(href='return_book.html') Return Book
